.voters-form{
    background-color: #EEF5FC;
}

.nav-text{
    color: white !important;
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
}

#inputFname4,
#inputLname4,
#inputEmail4,
#inputAddress4,
#inputOccupation4,
#inputPhone4,
#inputState,
#inputLGA,
#inputWard{
    border: white; 
}

.btn{
    background-color: #0795ED;
    border: none;
    width: 30%;
    font-size: larger;
    padding: 5px 1px;
}
.btn:hover{
    background-color: #0795ED;
}

form{
    border: 1px solid black;
    padding: 4% !important;
}


